:root {
    --accent-color: #2E2F42;
}

p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto
}

body {
    font-family: 'Roboto', sans-serif;
    color:#434455;
    font-style: normal;
    background-color: #FFFFFF;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    color: var(--accent-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.section-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-subtitle {
    color: var(--accent-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

/*--------------- HEADER ----------------*/

.header {
    border-bottom: 1px solid #e7e9fc;
}

.logo {
    color: #4D5AE5;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.logo-accent {
    color: var(--accent-color);
}

.header-container {
    display: flex;
}

.header-navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.header-menu-link {
    display: flex;
    gap: 40px;
}

.header-socials {
    display: flex;
    gap: 40px;
}

.header-menu-item {
        display: block;
        color: var(--accent-color);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
}

.header-menu-item:hover,
.header-menu-item:focus {
    color:#404BBF;
}

.socials {
    font-style: normal;
}

.header-socials-item {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.header-socials-item:hover,
.header-socials-item:focus {
    color: #404BBF;
}

/*--------------- HERO ----------------*/

.hero {
    background-color: var(--accent-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/main-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;;
}

.hero-title {
    display: flex;
    margin: 0 auto;
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.hero-btn {
    margin: 48px auto 0px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    color: #FFF;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/*--------------- Exposition ----------------*/

.exposition {
    padding-top: 120px;
    padding-bottom: 120px;
}

.exposition-subtitle {
    margin-bottom: 8px;
}

.exposition-list {
    display: flex;
    gap: 24px;
}

.exposition-item {
    width: calc((100% - 72px) / 4);
}

.exposition-box {
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background: var(--cloud, #F4F4FD);
    margin-bottom: 8px;
}

.exposition-icon {
    width: 64px;
    height: 64px;
}

/*--------------- We-doing ----------------*/

.we-doing{
    padding-bottom: 120px;
}

.we-doing-title {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
}

.we-doing-list {
    display: flex;
    gap: 24px;
    height: auto;
}

.we-doing-item {
    width: calc((100% - 48px) / 3);
}

/*--------------- TEAM ----------------*/

.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}


.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.worker {
    padding: 32px 16px;
}

.team-item {
    width: calc((100% - 72px) / 4);
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
}

.team-list-subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.socials-block {
    display: flex;
    margin: 8px auto 0;
    gap: 24px;
}

.socials-item-block {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials-item-block:hover {
    background-color: #404BBF;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-icon {
    width: 12px;
    height: 12px;
    flex-shrink: 0;
    fill: #F4F4FD;
}


/*--------------- CUSTOMERS ----------------*/

.customers {
    padding-top: 120px;
    padding-bottom: 72px;
}

.customers-title {
    margin-bottom: 72px;
}   

.customers-main-block {
    display: flex;
    gap: 24px;
}

.customers-block {
    width: 168px;
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    margin-bottom: 120px;
}

.customers-block:hover {
    border: 1px solid #404BBF;
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: #8E8F99;
}

.customers-icon:hover {
    fill: #404BBF;
}

/*--------------- FOOTER ----------------*/

.footer {
    background-color: var(--accent-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    gap: 120px;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
}

.logo-accent-footer {
    color: #F4F4FD;
}

.footer-text {
    display: flex;
    max-width: 264px;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-text-media {
    color: #FFF;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-socials-block {
    display: flex;
    gap: 16px;
}

.footer-socials-item-block {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-socials-item-block:hover {
    background-color: #31D0AA;
}

.footer-socials-icon {
    width: 24px;
    height: 24px;
    fill: #F4F4FD;
}

/*--------------- PORTFOLIO ----------------*/



.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}


.portfolio-list-btns {
    display: flex;
    margin-bottom: 72px;
    gap: 24px;
    justify-content: center;
    
}

.btn-list-item {

}

.portfolio-btn {
    color: #4D5AE5;
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: #F4F4FD;
    cursor: pointer;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
}

.portfolio-btn:hover {
    border: 1px solid transparent;
}

.portfolio-btn:focus {
    border: 1px solid transparent;
}
.portfolio-main-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-main-item {
    width: calc((100% - 48px) / 3);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: #404BBF;
    color: #FFFFFF;
}

.portfolio-list-subtitle {
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.prt-text-cont {
    display: block;
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;
}